html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.actions-menu-items {
  position: absolute !important;
  bottom: 0;
  width: 100%;
}

.main-body {
  margin-left: 240px !important;
  margin-top: 50px;
}

.input-text-box {
  padding: 7.5px 11px 7.5px;
  font-size: 15px;
  font-weight: 400;
  background-color: #fff !important;
  /* border-radius: 10px; */
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 4%);
  width: 300px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control input {
  height: 48px;
  border: 1px solid #ddd;
}

.form-btn {
  text-align: center;
}

.form-btn input {
  width: 300px;
  max-width: 100%;
  margin: auto;
  height: 48px;
  color: #fff;
  background-color: #1976d2;
  border: 0;
}

.Home_main__1x8gC {
  width: calc(100% - 248px);
  margin-left: auto;
}

.list-sidebar-menu div {
  padding: 5px;
}

.input-errors {
  color: red !important;
}